.notificationBadge {
  position: fixed;
  bottom: 4em;
  right: 4em;
  z-index: 1000;
  width: 12em;
  height: 3em; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  font-size: 14px;
  /* font-weight: bold; */
  border-radius: 6px; 
  background: rgba(0, 0, 0, 0.1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, background 0.3s ease; 
}

.notificationBadge:hover {
  background: rgba(0, 0, 0, 0.2); 
}

.notificationBadge:active {
  transform: scale(1); /* Tillbaka till normal storlek vid klick */
  background: rgba(0, 0, 0, 0.3); /* Mörkare vid klick */
}